<div class="w-full h-full flex flex-col justify-between my-5">
  <div>
    <app-list-clients></app-list-clients>
  </div>

  <div class="flex justify-evenly my-5 bg-gray-300 dark:bg-gray-700 rounded p-2 max-w-lg">
    <button class="bg-indigo-500  hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded">
      Incluir
    </button>
    <button class="bg-indigo-500  hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded">
      Alterar
    </button>
    <button class="bg-indigo-500  hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded">
      Excluir
    </button>
    <button disabled class="text-white font-bold py-2 px-4 border-b-4 disabled:cursor-not-allowed disabled:bg-gray-500 border-gray-700 rounded">
      Movimentação
    </button>
  </div>
</div>
