<section class="text-gray-600 dark:bg-slate-950 dark:text-gray-200 body-font pt-3">
  <app-toggle-dark-mode class="w-1/12 absolute right-0 mr-3 mt-3"></app-toggle-dark-mode>
  <div class="flex flex-col justify-start items-center px-6 py-6 h-full bg-transparent">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight dark:text-gray-200">Continue seu cadastro para aproveitar!</h2>
    </div>

    <div class="bg-gray-100 lg:w-5/12 dark:bg-slate-800 rounded-lg p-5">
      <form class="space-y-6 h-full" [formGroup]="forms" (ngSubmit)="sendConfirmationForms()">
        <div>
          <label for="name" class="text-gray-900 dark:text-gray-200 text-lg font-medium title-font mb-5">Nome completo</label>
          <div class="mt-2">
            <input id="name" formControlName="name" name="name" type="text" [disabled]=true autocomplete="name" required class="w-full bg-white dark:bg-slate-900 rounded border border-gray-300 dark:border-slate-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 dark:text-gray-200 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
          </div>
          @if (validatorFormField('name')){
            <p class="text-red-500 text-xs italic mt-2">Nome é obrigatório</p>
          }
        </div>

        <div>
          <label for="city" class="text-gray-900 dark:text-gray-200 text-lg font-medium title-font mb-5">Cidade</label>
          <div class="mt-2">
            <input id="city" formControlName="city" name="city" type="text" autocomplete="email" required class="w-full bg-white dark:bg-slate-900 rounded border border-gray-300 dark:border-slate-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 dark:text-gray-200 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
          </div>
          @if (validatorFormField('city')){
            <p class="text-red-500 text-xs italic mt-2">Cidade é obrigatório</p>
          }
        </div>

        <div>
          <label for="job" class="text-gray-900 dark:text-gray-200 text-lg font-medium title-font mb-5">Trabalho</label>
          <div class="mt-2">
            <select id="job" formControlName="job" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              @for (job of job_options; track job.value){
                <option [value]="job.value">{{ job.label }}</option>
              };
            </select>
          </div>
          @if (validatorFormField('job')){
            <p class="text-red-500 text-xs italic mt-2">Trabalho é obrigatório</p>
          }
        </div>

        <div>
          <label for="password" class="text-gray-900 dark:text-gray-200 text-lg font-medium title-font mb-5">Senha</label>
          <div class="mt-2">
            <input id="password" formControlName="password" name="password" type="password" autocomplete="password" required class="w-full bg-white dark:bg-slate-900 rounded border border-gray-300 dark:border-slate-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 dark:text-gray-200 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
          </div>
          @if (validatorFormField('password')){
            <p class="text-red-500 text-xs italic mt-2">{{ forms.get('password').hasError('required') ? 'Senha é obrigatório' : 'Tamanho mínimo de 8 digitos' }}</p>
          }
        </div>

        <div>
          <label for="confirmPassword" class="text-gray-900 dark:text-gray-200 text-lg font-medium title-font mb-5">Confirmar senha</label>
          <div class="mt-2">
            <input id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" type="text" autocomplete="job" required class="w-full bg-white dark:bg-slate-900 rounded border border-gray-300 dark:border-slate-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 dark:text-gray-200 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
          </div>
          @if (validatorFormField('confirmPassword')){
            <p class="text-red-500 text-xs italic mt-2">{{ forms.get('confirmPassword').hasError('required') ? 'Confirmação de senha é obrigatório' : 'As senhas não conferem' }}</p>
          }
        </div>

        <div>
          @if (!disabledButton){
            <button type="submit" [disabled]="!forms.valid" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-300 disabled:cursor-not-allowed disabled:bg-gray-500">
              Cadastrar
            </button>
          }
          <a href="login">
            <p class="text-center mt-5">Ja tenho conta, <strong class="text-blue-500">Entrar</strong></p>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
